.animate-charcter
{
    text-transform: uppercase;
    background-image: linear-gradient(
    -225deg,
    #ff0000 0%,
    #fba300 29%,
    #fc00eb 67%,
    #ff0000 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.3s linear infinite;
    display: inline-block;
    font-size: 50px;
    padding: 0px;
    margin: 0px;
}

@keyframes textclip {
    to {
    background-position: 200% center;
}

}

.block {
    position: relative;
    margin: 100px auto 0;
    width: 150px;
    height: 150px;
    background: linear-gradient(0deg, #000, #1a1717);
}

.block:before, .block:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #ff0000,#ff9100, #ff0000, #fb0094,
    #0000ff, #ff7700,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: steam 20s linear infinite;
}

@keyframes steam {
    0% {
    background-position: 0 0;
    }
    50% {
    background-position: 300% 0;
    }
    100% {
    background-position: 0 0;
    }
}

.block:after {
    filter: blur(50px);
}

/* .reset_border {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #00ff00;
    font-size: 12px;
    font-family: verdana;
    letter-spacing: 4px;
    border: 2px solid transparent;
    padding: 0;
    border-radius: 50%;
    transition: all 0.3s ease;

} */

/* .reset_border:hover {
    display: inline-block;
    padding: 0;
    border: 2px solid #ff0;
    color: #ff0;
    border-radius: 0;
} */
/* .dv {
    width: 10px;
    height: 10px;
} */
html {
    height: 100%;
}
main {
    height: 100%;
}
header {
    position: relative;
    padding: 18px;
    font-size: 15px;
    color:rgb(89, 144, 255);
    border-bottom: 4px solid black;
    text-align: center;
    background-image: url("https://t4.ftcdn.net/jpg/05/38/78/13/360_F_538781340_lK99lq05vtUVYAYSfewWjFDpNFlGXTXw.jpg");
    background-size: cover;
}
h1 {
    display: -webkit-inline-flex;
    width: fit-content;
}
footer {
    position: fixed;
    padding: 2px;
    background-color: rgba(57, 0, 0, 0.973);
    height: 30px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    bottom: 0;
    border-top: 6px solid black;
    text-align: center;
    background-image: url("https://t4.ftcdn.net/jpg/05/38/78/13/360_F_538781340_lK99lq05vtUVYAYSfewWjFDpNFlGXTXw.jpg");
    background-size: cover;
}
p {
    margin: 0;
    padding-bottom: 20px;
}
body {
    text-align: center;
    padding: 0;
    margin: 0;
    min-height: 100%;
    border: 1px solid black
}
table {
    display: inline-block;
    border-collapse: collapse;
    padding-bottom: 0;
}
td {
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 20px;
    border: 4px solid rgb(57, 0, 0);
    margin: 1px;
    padding: 1px;
    padding-bottom: 0;
}
button {
    width: 150px;
    height: 150px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
}
button:active {
    background-color: transparent;
}
table {
    display: inline-block;
    padding-top: 35px;
    padding-bottom: 35px;
}
.X_display {
    color: rgb(255, 211, 211);
    font-size: 55px;
    text-shadow: 2.5px 2.5px 2.5px rgb(255, 132, 0), 0 0 1em rgb(185, 92, 0), 0 0 0.2em rgb(255, 106, 0);
}
.O_display {
    color:  rgb(71, 131, 251);
    font-size: 55px;
    text-shadow: 2.5px 2.5px 2.5px rgb(37, 0, 79), 0 0 1em rgb(167, 86, 234), 0 0 0.2em rgb(84, 6, 186);
}
.parent {
    text-align: center;
}
/* .reset_button {
    height: 100%;
    width: auto;
    color:  rgb(124, 165, 247);
    font-size: 22px;
    font-family: verdana;
    letter-spacing: 2px;
} */

.grandParentContaniner{
    display:table; height:100%;
    margin: 0 auto;
}

.parentContainer{
    display:table-cell;
    vertical-align:middle;
    justify-content: right;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
.bg1 {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
.bg2 {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
.bg3 {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;

}
.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
.background {
    z-index: -1;
}
.victor {
    color:rgb(87, 129, 255);
    font-size: 30px;
}

.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}
.danger {
    border-color: #f44336;
    height: 100%;
    width: auto;
    color:  rgb(124, 165, 247);
    font-size: 22px;
    font-family: verdana;
    letter-spacing: 2px;
}

.danger:hover {
    background: #f44336;
    color: white;
}

.gif {
    width: 100px;
    height: 100px;
    padding: 0px;
    margin: 0px;
}
