{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static "css/tic-tac-toe.css" %}">
    <title>Tic-Tac-Toe Game</title>
</head>
<header>
    <div class="header-text">
        <h1> Tic-Tac-Toe </h1>
    </div>
</header>
<body>
<main>
    <div class="background">
    <img class="bg" src="https://w0.peakpx.com/wallpaper/450/783/HD-wallpaper-blue-background-dark-texture-abstract.jpg">
    {% if request.GET.game_over == "X" %}
    <img class="bg1" src="https://media3.giphy.com/media/Ea0Y4le7n28Lh4vMMJ/giphy.gif?cid=ecf05e4705zemju7tbwj3j8tmg7crp6zbo9f91gynluigauw&ep=v1_stickers_search&rid=giphy.gif&ct=s">
    {% elif request.GET.game_over == "Tie" %}
    <img class="bg3" src="https://media3.giphy.com/media/BQ1QyFrFEa7rmdSamD/200w.webp?cid=ecf05e47nmwa5imylguxtopy4berpwtnspye1gscme6ungxc&ep=v1_stickers_search&rid=200w.webp&ct=s">
    {% elif request.GET.game_over == "O" %}
    <img class="bg3" src="https://media4.giphy.com/media/xl1L1vqpY5Lug9iRN7/200.webp?cid=ecf05e47kle15twhzmwmqguthipofqugfsk9rs9uo1bsmasj&ep=v1_stickers_search&rid=200.webp&ct=s">
    {% endif %}
</div>
    <table>
        {% for key, value in board.items %}
        {% if forloop.counter0|divisibleby:3 %}
        <tr>
            {% endif %}
            <td class="block">
                <form method="POST" action="{% url "choice" key %}">
                    {% csrf_token %}
                        <button {% if request.GET.game_over == "Tie" or request.GET.game_over == "O" or request.GET.game_over == "X" %}disabled{% endif %}
                                {% if value == "X" %}class="X_display"{% elif value == "O" %}class="O_display"{% endif %}>{{ value }}</button>
                </form>
            </td>
            {% if forloop.counter0|add:1|divisibleby:3 or forloop.last %}
        </tr>
        {% endif %}
        {% endfor %}
    </table>
        <div class="col-md-12 text-center">
            {% if request.GET.game_over == "X" %}
            <h3 class="animate-charcter"> You win!</h3>
            {% elif request.GET.game_over == "O" %}
            <h3 class="animate-charcter"> You lose! </h3>
            {% elif request.GET.game_over == "Tie" %}
            <h3 class="animate-charcter"> It's a tie! </h3>
            {% endif %}
        </div>
        <div>
            {% if request.GET.game_over == "X" %}
            <img class="gif" src="https://media4.giphy.com/media/MxYQrB9jeGzza/200.webp?cid=ecf05e47mz661jk9xi0nubww396x3ohiu9f1gol4lcy9tdjg&ep=v1_stickers_search&rid=200.webp&ct=s">
            {% elif request.GET.game_over == "O" %}
            <img class="gif" src="https://media2.giphy.com/media/dYwQJXd0wr2CcpR3JR/200w.webp?cid=ecf05e47qlc59e51gog6vabodpnrutkxdturz9u56sf4znqe&ep=v1_stickers_search&rid=200w.webp&ct=s">
            {% elif request.GET.game_over == "Tie" %}
            <img class ="gif" src="https://media1.giphy.com/media/p3vDjlfco3ndqhuHaJ/200w.webp?cid=ecf05e47pa0h4te49ucir8iott8jygas1l9cyp3qyb1qrmtp&ep=v1_stickers_search&rid=200w.webp&ct=ts">
            {% endif %}
        </div>
    <footer>
        <form method="POST" action="{% url "reset" %}">
            {% csrf_token %}
            <div class="dv">
            <button class="danger">reset</button>
            </div>
        </form>
    </footer>
</main>
</body>
</html>
